@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slidein-2 {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    10% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slidein-3 {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    25% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sublink-activate {
    0% {
        border-left: 0px solid white;
    }
    100% {
        border-left: 3px solid white;
    }
}

/*every color with alpha must be in rgba(..,..,..,..) for ie compat*/

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:0;
    margin:0;
    color: white;
    background: linear-gradient(120deg, #000000, #0a0a0a);
    animation-timing-function: ease-out;
    animation-duration: 3s;
    overflow-x: hidden;
}

ul { 
    list-style-type: "⬩";
}
li {
    padding-left: 0.7em;
    margin-top: 0.3em;
}

.content {
    background: linear-gradient(120deg, #000000, #0a0a0a);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 420px;   /*ie compat*/
    width: max(420px, 25%);
    background: linear-gradient(90deg, #000000, #202020);
    position: fixed;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #505050 transparent;
}

.sidebar a {
  display: block;
  background: linear-gradient(90deg, #404040, #000000, #000000, #000000, #101010);
  color: white;
  padding: 16px;
  text-decoration: none;
  margin-top: 1px;
}
.sidebar a:hover {
  background: linear-gradient(90deg, #505050, #0a0a0a, #0a0a0a, #0a0a0a, #101010);
}

.sidebar .sub-links {
    padding-left: 20px;
}

.sidebar .sublink-active {
    background: linear-gradient(90deg, #747474, #1a1a1a, #1a1a1a, #1a1a1a, #303030);
    animation-name: sublink-activate;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.sidebar .sublink-level-1 {
    padding: 8px 16px;
}

.sidebar .redlink {
    background: linear-gradient(90deg, #302020, #0a0000, #0a0000, #0a0000, #201010);
}
.sidebar .redlink:hover {
    background: linear-gradient(90deg, #7a3636, #240b0b, #240b0b, #240b0b, #502323);
}

.sidebar h1 {
    padding-left: 10px;
    text-align: left;
}

div.content {
    position: fixed;
    margin-left: 420px;  /*ie compat*/
    margin-left: max(420px, 25%);
    width: calc(100% - 420px);   /*ie compat*/
    width: calc(100% - max(420px, 25%));
    height: 100%;
}
#manual-content {
    width: 100%;
    height: 100%;
    border: none;
}

.manual-body {
    color: #d0d0d0;
    padding: 20px;
}

.manual-body p {
    margin-left: 2em;

    animation-duration: 0.8s;
    animation-name: slidein-2;
}
.manual-body h1 {
    width: 100%;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    border-bottom: 1px solid #404040;
}
.manual-body h1, h2, h3, h4 {
    color: white;
    white-space: nowrap;

    animation-duration: 0.8s;
    animation-name: slidein;
}
.manual-body img {
    display: block;
    margin-top: 1em;
    width: 80%;
}
.manual-body img.img-small {
    width: max(30%, 200px);
}
.manual-body img.img-realpx {
    width: auto;
    height: auto;
}
.manual-body img.img-pattern {
    image-rendering: pixelated;
    display: inline-block;
    width: auto;
    vertical-align:bottom;
}

.manual-body a {
    color: #ffffff;
    text-decoration: underline;
}

.manual-body h2, h3 {
    width: fit-content;

    margin-top: 2em;
    padding-bottom:0.2em;
    padding-left: 0.3em;
    padding-right: 1em;
    border-bottom: 1px solid #202020;
    border-left: 1px solid #202020;
}

.navbar-hint {
    display: inline-block;
    border: 1px solid #808080;
    color: white;
    background: linear-gradient(to bottom, #202020, #000000);
    padding: 1px 6px;
}

.vsp-button {
    display: inline-block;
    border: 1px solid #303030;
    color: #d0d0d0;
    font-weight: 700;
    background: #000000d0;
    padding: 1px 6px;
}

.manual-body .manual-link {
    font-weight: 700;
    border: 1px solid #808080;
    color: #daf9ff;
    text-decoration: underline;
    text-decoration-color: #bcc3c5;
    padding: 1px 0.5em;
    white-space: nowrap;
}

.manual-body ul {
    animation-duration: 0.8s;
    animation-name: slidein-3;
}

.manual-body table {
    animation-duration: 0.8s;
    animation-name: slidein-3;
}

.manual-body .platform {
    font-weight: 700;
    padding: 0.2em 6px;
}

.platform-windows {
    color: #44b4ff;
    border-left: 2px solid #44b4ff;
    background: linear-gradient(90deg, rgba(68, 180, 255, 0.188), rgba(0, 0, 0, 0));
}
.platform-mac {
    color: #ffffff;
    border-left: 2px solid #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.188), rgba(0, 0, 0, 0));
}
.platform-linux {
    color: #ff8f44;
    border-left: 2px solid #ff8f44;
    background: linear-gradient(90deg, rgba(255, 143, 68, 0.188), rgba(0, 0, 0, 0));
}
.platform-android {
    color: #4aff44;
    border-left: 2px solid #4aff44;
    background: linear-gradient(90deg, rgba(74, 255, 68, 0.188), rgba(0, 0, 0, 0));
}

.manual-directory {
    color: #fffd7e;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 1.5em;
    border-left: 2px solid #fffd7e;
}
.manual-file {
    color: #ffffff;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 1.5em;
    border-left: 2px solid #ffffff;
}

.key-hint {
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 3px;
    color: white;
    background: linear-gradient(to bottom, #202020, #101010);
    padding: 1px 6px;
}

.block-warning {
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255, 241, 45, 0.188), rgba(255, 241, 45, 0));
    border: 1px solid #fff12d;
    color: #fff898;
    padding: 10px 15px;

    animation-duration: 0.8s;
    animation-name: slidein-3;
}


.compat-table th {
    font-weight: 700;
    border-bottom: 1px solid #404040;
    
}
.compat-table td {
    padding: 0 0.5em;
    text-align: center;
    border-bottom: 1px solid #101010;
    border-right: 1px solid #101010;
}

.compat-table .compat-full {
    color: #b9ffb9;
    font-size: 1.2em;
    font-weight: 800;
    background: linear-gradient(-45deg, rgba(0, 255, 34, 0), rgba(30, 255, 0, 0.063), rgba(30, 255, 0, 0.125), rgba(30, 255, 0, 0.878));
    border-right: 1px solid #1eff00;
    border-bottom: 1px solid #1eff00;
}

.compat-table .compat-partial {
    color: #feffcf;
    font-size: 1.2em;
    font-weight: 800;
    background: linear-gradient(-45deg, rgba(251, 255, 0, 0), rgba(251, 255, 0, 0.063), rgba(251, 255, 0, 0.125), rgba(251, 255, 0, 0.627));
    border-right: 1px solid #939600;
    border-bottom: 1px solid #939600;
}

.compat-table .compat-none {
    color: #ff9292;
    font-size: 1.2em;
    font-weight: 800;
    background: linear-gradient(-45deg, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.063), rgba(255, 0, 0, 0.125), rgba(255, 0, 0, 0.627));
    border-right: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
}

.compat-table .compat-indev {
    color: #cdecff;
    font-size: 1.2em;
    font-weight: 800;
    background: linear-gradient(-45deg, rgba(157, 227, 255, 0), rgba(157, 227, 255, 0.063), rgba(157, 227, 255, 0.125), rgba(157, 227, 255, 0.627));
    border-right: 1px solid #dbefff;
    border-bottom: 1px solid #dbefff;
}